body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
}
.mascotas{
    background-color: #f1f1f1;
    width: 100%;
    display: flex;

}