*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 330px;
    background-image: url(../img/fondo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 30px;
    margin: 0;
    background-size: auto 116%;
}
.title-principal{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.0rem;
    padding: 15px;
    font-weight: bold;
    color: #f9f9f9b0;
    text-shadow: 1px 4px 3px #0000006b;
}
.titles-secundarios{
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #f9f9f9b0;
    text-shadow: 1px 3px 3px #0000006b;
}
.container_select-masct{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.container-mascotas {
    background-image: linear-gradient(to right, #b1898942, rgba(230, 155, 80, 0.199));
    box-shadow: 4px 3px 2px 1px rgba(0, 0, 0, 0.2);
    border: #0505053c solid 2px;
    margin-bottom: 30px;
}
.estructura_mascotas{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 20px;
    width: 300px;
    padding: 20px;
    height: 570px;

}
.mascotas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to right, #b1898988, rgba(230, 155, 80, 0.61));
    box-shadow: 4px 3px 2px 1px rgba(0, 0, 0, 0.2);
    border: #0505053c solid 2px;
    cursor: pointer;
}
.mascotas:hover{
    background-image: linear-gradient(to right, #c99797a6,#e69b509c);
    box-shadow: 4px 3px 2px 1px rgba(0, 0, 0, 0.2);
    border: #0505053c solid 2px;
}
.mascotas:active {
    background-color: #0000006b;
}
.mascotas p{
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(245, 245, 245, 0.851);
    text-shadow: 1px 3px 3px #0000006b;
    padding-right: 15px;
}
input{
    display: none;
}
input:checked + label{
    background-color: rgba(255, 0, 0, 0.647);
}
.container-button{
    display: flex;
}
button{
    width: 110px;
    height: 40px;
    margin: 20px auto;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, #b18989,#e69b50);
    box-shadow: 4px 3px 2px 1px rgba(0, 0, 0, 0.2);
    border: #0505053c solid 2px;
    color: #f9f9f9b0;
    cursor: pointer;
}
button:hover{
    background-image: linear-gradient(to right, #c99797e0,#e69b50c5);
    box-shadow: 4px 3px 2px 1px rgba(0, 0, 0, 0.2);
    border: #0505053c solid 2px;
    cursor: pointer;
}
.Mascota{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 27px;
    background-image: linear-gradient(to right, #b18989,#e69b50);
    box-shadow: 4px 3px 2px 1px rgba(0, 0, 0, 0.2);
    border: #0505053c solid 2px;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #0505053c solid 2px;
}
#select-attack{
    padding: 20px;
}

.table-container {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    border: black solid 2px;
    box-shadow: -2px 4px 15px black;
    background-image: linear-gradient(to right, #b1898988, rgba(230, 155, 80, 0.61));
    overflow: auto; 
}
table {
    text-align: center;
    padding: 5px;
    border-collapse: collapse;
    width: 100%; 
    height: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid black;
    height: 100%;
    overflow: hidden;
}

th, td {
    max-height: 100%;
}

th, td {
    overflow-y: scroll; 
}
.result-ganador {
    width: 100%;
    transform: translate(0px, 420px);
    text-align: center;
    height: 50px;
    font-size: 1.2rem;
    color: #f9f9f9b0;
    border-radius: 10px;
    text-shadow: 1px 3px 3px #0000006b;
}
.container_attack-buttons {
    display: flex;
    grid-column: 1/4;
    gap: 10px;
}
.container_combate-jugador, .container_combate-enemigo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #e6ca6c,#bc630bf3);
}

#reload {
    width: 100%;
    margin: 0 auto;
    transform: translate(0px, 280px);
    height: 10px;
}
.botones-ataque{
    height: 70px;
    width: 80px;
}
#ver-mapa{
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mapa {
    margin: 20px 0;
    border: #fbfbfb solid 2px;
    width: 280px;
    height: 280px;
}