body {
    background-size: 100% 150%;
}
.titles-secundarios {
    grid-column: 1/4;
    grid-row: 1;
}
.container-mascotas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 30px;
    height: 500px;
    min-width: 642px;
}
.estructura_mascotas {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.mascotas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to right, #b1898988, rgba(230, 155, 80, 0.61));
    box-shadow: 4px 3px 2px 1px rgba(0, 0, 0, 0.2);
    border: #0505053c solid 2px;
    cursor: pointer;
}
.mascotas:hover{
    background-image: linear-gradient(to right, #c99797a6,#e69b509c);
    box-shadow: 4px 3px 2px 1px rgba(0, 0, 0, 0.2);
    border: #0505053c solid 2px;
}
.mascotas:active {
    background-color: #0000006b;
}
.mascotas p{
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(245, 245, 245, 0.851);
    text-shadow: 1px 3px 3px #0000006b;
    padding-right: 15px;
}
#select-attack{
    padding: 0px;
}
.container_select_attack{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px repeat( 2, 1fr);
    row-gap: 10px;
}

.table-container {
    grid-row: 2;
    grid-column: 2;
    height: 200px;
    width: 500px;
    overflow: auto;
}
table {
    text-align: center;
    padding: 5px;
    border-collapse: collapse;
    width: 100%; 
}
th, td {
    padding: 10px;
    border: 1px solid black;
    height: 100%;
    overflow: hidden;
}
button{
    width: 200px;
}
.result-ganador {
    grid-column: 2;
    grid-row: 3;
    height: 100px;
    width: 500px;
    padding: 40px;
    font-size: 2.0rem;
    color: #f9f9f9b0;
    border-radius: 10px;
    transform: translate(0px, 30px);
    text-shadow: 1px 3px 3px #0000006b;
}
.container_attack-buttons {
    display: flex;
    grid-column: 1/4;
    gap: 30px;
}
.container_combate-jugador {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    width: 170px;
    padding: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #e66c6c,#e69b50d8);
    box-shadow: 7px 7px 3px #0000006b;
}
.container_combate-enemigo{
    grid-row: 2;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    width: 170px;
    padding: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #e6ca6c,#bc630bf3);
    box-shadow: 7px 7px 3px #0000006b;
}
#reload {
    grid-column: 2;
    grid-row: 3;
    top: 700px;
    transform: translate(0px, 120px);
}
.botones-ataque{
    height: 40px;
    width: 110px;
}
#ver-mapa{
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mapa{
    margin: 20px 0;
    border: #fbfbfb solid 2px;
    width: 420px;
    height: 300px;
}